<div class="container">
<ul class="pokemons lightningPokemons">
  <li
    *ngFor="let lightningPokemon of lightningPokemons"
    [class.selected]="selectedLightningPokemon == lightningPokemon"
    (click)="selectLightningPokemon(lightningPokemon)"
  >
    <span class="badge">{{ lightningPokemon.id }}</span>
    {{ lightningPokemon.name }}
  </li>
</ul>
<app-lightning-pokemon-details class="float-right float-left" *ngIf="selectedLightningPokemon" [lightningPokemon]="selectedLightningPokemon">
</app-lightning-pokemon-details>
</div>
