/* LightningPokemonsComponent's private CSS styles */
.container{
  position: relative;
}
.float-right{
  position:absolute;
  right:445px;
  top : -153.5px;
}
.float-left{
  position:absolute;
  left:715px;
  top : -153.5px;
}
.lightningPokemons{
  position:relative;
}
.lightningPokemons:before {
  content:"";
  display:block;
  position :absolute;
  left:-55px;
  top: -5px;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/images/foudre.png");
  background-size: cover;
  z-index:1;
}

.lightningPokemons li:hover {
  color: var(--lightning-pokemons-bg-color);
  background-color: var(--pokemon-li-hover-bg-color);
}

.lightningPokemons li.selected:hover {
  background-color: var(
    --lightning-pokemons-li-selected-hover-bg-color
  ) !important;
}

.lightningPokemons .badge {
  background-color: var(--lightning-pokemons-bg-color);
}
