.card{
  border : 3px solid black;
  border-radius: 1em;
  width: 350px;
  height:540px;
}
.card h2{
  text-align: center;
  border:3px solid black;
  border-radius: 20px 20px 0 0;
  padding-top: 1em;
}
.card .badge {
  display: inline-block;
  font-size: 1.4em;
  color: black;
  padding: 0.5em 0.2em 0.5em 0.2em;
  line-height: 1em;
  position: relative;
  left: -2.5px;
  top: -24px;
  height: 1.5em;
  width: 341px;
  margin-right: 0.5em;
  border-radius: 20px 20px 0 0;
  background-color: var( --fire-pokemons-li-selected-hover-bg-color);
}
h2 span {
  font-size: 0.7em;
}

.specificity {
  padding-bottom: 1.1rem;
}

.size, .evolution , .weakness, .attack {
  border: 0.1em solid hsl(17, 18%, 46%);
  background-color: hsl(17, 18%, 46%);
  color:white;
  border-radius: 20px;
  padding: 0.2em;
  width: 120px;
  margin-left: 7em;
  text-align: center;
}
.attack{
margin-top:53px;
}
.size-answer{
color:black;
padding-left: 9.5em ;
}
.evolution-answer{
  color:black;
  padding-left : 9.3em;
}
.weakness-answers {
  color:black;
  padding-left : 9.3em;
}
.attack-answers{
  color:black;
  padding-left : 8.5em;
}
