<div class="card">
<h2 class="badge">
  Détails de {{ firePokemon.name | uppercase }}
  <span>(Id = {{ firePokemon.id }})</span>
</h2>
<div class="specificity">
  <p class="size">His size</p>
  <p class="size-answer">{{ firePokemon.size }}</p>
  <p class="evolution">His evolution</p>
  <p class="evolution-answer">{{ firePokemon.evolution }}</p>
  <p class="weakness">His weakness</p>
  <div class="weakness-answers" *ngFor="let weakness of firePokemon.weakness">
    {{ weakness.name }}
  </div>
  <p class="attack">His attack</p>
  <div class="attack-answers" *ngFor="let attack of firePokemon.attack">
   {{ attack.name }}
  </div>
</div>
</div>
