/* FirePokemonsComponent's private CSS styles */

.firePokemons li:hover {
  color: var(--fire-pokemons-bg-color);
  background-color: var(--pokemon-li-hover-bg-color);
}

.firePokemons li.selected:hover {
  background-color: var(--fire-pokemons-li-selected-hover-bg-color) !important;
}

.firePokemons .badge {
  background-color: var(--fire-pokemons-bg-color);
}
