/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

:root {
  --fire-pokemons-bg-color: hsl(17, 18%, 46%);
  --lightning-pokemons-bg-color: hsl(55, 18%, 46%);
  --plant-pokemons-bg-color: hsl(123, 18%, 46%);
  --pokemon-color: hsl(0, 0%, 100%);
  --pokemon-li-bg-color: hsl(0, 0%, 93%);
  --pokemon-selected: hsl(198, 16%, 84%);
  --pokemon-li-hover-bg-color: hsl(0, 0%, 87%);
  --fire-pokemons-li-selected-hover-bg-color: hsl(17, 32%, 80%);
  --lightning-pokemons-li-selected-hover-bg-color: hsl(55, 32%, 80%);
  --plant-pokemons-li-selected-hover-bg-color: hsl(123, 32%, 80%);

  --title-color: rgb(138, 96, 96);
  --subtitle-1-and-2-color: hsla(0, 0%, 27%, 1);
  --body-input-button-color: hsla(0, 0%, 53%, 1);
}

/* Application-wide Styles */

h1 {
  color: var(--title-color);
  font-family: Times, Helvetica, Arial, sans-serif;
  font-size: 250%;
  text-align: center;
  border: 4px solid var(--title-color);
  border-radius: 15px;
  padding: 0.5% 1.5%;
  margin: 0% 25%;
  margin-bottom: 50px;
}

h2,
h3 {
  color: var(--subtitle-1-and-2-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-bottom: 1%;
  text-decoration: underline;
}

body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: var(--body-input-button-color);
  font-family: Cambria, Georgia;
}

a {
  margin-top: 20px;
  font-family: Arial;
  background-color: var(--pokemon-li-bg-color);
  border: none;
  cursor: pointer;
  cursor: hand;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 3rem 0rem;
  color: var(--fire-pokemons-bg-color);
  text-decoration: none;
}

a:hover {
  background-color: var(--pokemon-selected);
}

/*Css common to firePokemons, lightningPokemons and plantPokemons*/

.selected {
  background-color: var(--pokemon-selected) !important;
  color: var(--pokemon-color);
}

.pokemons {
  margin: 0 0 2em 2.5em;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.pokemons li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: var(--pokemon-li-bg-color);
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.pokemons li:hover {
  left: 0.1em;
}

.pokemons .text {
  position: relative;
  top: -3px;
}

.pokemons li.selected:hover {
  color: var(--pokemon-color);
}

.pokemons .badge {
  display: inline-block;
  font-size: small;
  color: var(--pokemon-color);
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}
