/* PlantPokemonsComponent's private CSS styles */
.container{
  position: relative;
}
.float-right{
  position:absolute;
  right: 60px;
  top : -302px;
}

.plantPokemons{
  position:relative;

}
.plantPokemons:before {
  content:"";
  position :absolute;
  left:-55px;
  top: -5px;
  width: 41px;
  height: 44px;
  background-image: url("../../assets/images/plante.png");
  background-size: cover;
  z-index:1;
}
.plantPokemons li:hover {
  color: var(--plant-pokemons-bg-color);
  background-color: var(--pokemon-li-hover-bg-color);
}

.plantPokemons li.selected:hover {
  background-color: var(--plant-pokemons-li-selected-hover-bg-color) !important;
}

.plantPokemons .badge {
  background-color: var(--plant-pokemons-bg-color);
}
