<div class="card">
  <h2 class="badge">
    Détails de {{ plantPokemon.name | uppercase }}
    <span>(Id = {{ plantPokemon.id }})</span> :
  </h2>
  <div class="specificity">
    <p class="size">His size</p>
    <p class="size-answer">{{ plantPokemon.size }}</p>
    <p class="evolution">His evolution</p>
    <p class="evolution-answer">{{ plantPokemon.evolution }}</p>
    <p class="weakness">His weakness</p>
    <div class="weakness-answers" *ngFor="let weakness of plantPokemon.weakness">
      {{ weakness.name }}
    </div>
    <p class="attack">His attack</p>
    <div class="attack-answers" *ngFor="let attack of plantPokemon.attack">
     {{ attack.name }}
    </div>
  </div>
</div>
